@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#header-text {
    font-size: 53px;
    text-decoration: none;
    color:black;
    justify-content: start;
    margin-left: 5px;
}
header {
    text-decoration: none;
    background-color: rgb(192, 192, 192);
    color: black;
    width: 100%;
    height: 110px;
    border-bottom: 2px rgb(36, 36, 36) solid;
}

nav {
    display: flex;
    margin-top: 11px;
    justify-content: space-around;
}


nav a {
    text-decoration: none;
    color: black;
    height: 30px;
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: large;
    border-radius: 3px;
}

/* Animation goes here 
    |
    V 
*/
nav a:hover {
    background-color: white;
    border-width: 2px;
    border-style: solid solid none solid;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto Mono';
}

h1 {
    display: flex;
    font-size: 80px;
    font-weight: 200;
    margin-top: 30px;
    justify-content: center;
}

#main-content {
    display: flex;
}

#main-content p {
    margin-left: 25px;
    margin-right: 25px;
}

#images {
    display: flex;
    flex-direction: column;
}

#main-content img {
    margin-left: 50px;
    max-width: 600px;
    margin-bottom: 50px;
    border-style: double;
}

footer li {
    margin: 10px;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: black;
}

footer {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-top: 2px rgb(36, 36, 36) solid;
}

@media screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }
    #header-text {
        justify-content: center;
    }

    #main-content {
        flex-direction: column;
    }
}